body {
    font-family: Arial, sans-serif;
    background-color: #8de938;
    margin: 0;
    padding: 0;
}

#navegador ul{
    list-style-type: none;
    text-align: center

}

#navegador li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;

}


